* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 1108px;
}

.top_header {
    padding-top: 44px;
}

.top_flex {
    display: flex;
}

.top_header_right {
    display: flex;
    justify-content:flex-end;
    padding-left: 346px;
}

.top_header_left:hover {
    border: 1px solid #AAA;
    color: #AAA;
}

.top_header_left {
    display: flex;
}

.top_header_left .top_header_right {
    width: 40%;
}


.header_logo {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
    background: url(<path-to-image>);
}

.header_logo_name {
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    background: url(<path-to-image>);
    padding-left: 14px;
    display: flex;
}


.header_menu_link1 {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.header_menu_link {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    padding: 15px;
}

.top_content {
    margin-top: 164px;
}

.title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
}

.buttons {
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
    background: #F25822;
    padding: 12px 27px 13px 27px;
    border: 1px solid transparent;
}

.top_content_button {
    display: flex;
    justify-content: start;
    padding-top: 37px;
}

.buttons:hover {
    border: 1px solid #AAA;
    color: #FFF;
    background-color: #888;
}

.buttons_gray {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem 3rem 1 re 2 rem;
    border: 1px solid transparent;
    background-color: #fff;
    padding-left: 15px;
}

.watch {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.watch_button {
    display: flex;
    padding-left: 27px;
}

.buttons_gray:hover {
    border: 1px solid #FFF;
    border-radius: 10px;
}



.flex {
    display: flex;
    justify-content: space-between;
}   

.top_content-left, .top_contetnt-right {
    width: 46%;
}

.top_contetnt-right {
    width: 544.814px;
    height: 374.843px;
    flex-shrink: 0;
    padding-top: 94,7px;
}

.top_logos {
    margin-top: 103px;
    background: url(<path-to-image>);
}