body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.nav_link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.headline {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.about_photo {
    border-radius: 10px;
}

.in_form {
    width: 300px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    font-family: sans-serif;
}

.form_btn {
    width: 150px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
