* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-color: #020A18;
    font-family: 'Open Sans', sans-serif;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

/* .container {
        margin: 0 auto;
        width: 1146px;
} */

.header_link {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    padding: 40px 20px;
    border: 1px solid transparent;
}

.header-flex {
    display:flex;
    justify-content: center;
}

.header_link:hover {
    color: #3A68B8;
    border: 1px solid #3A68B8;
    border-radius: 10px;
}

.header {
    margin-bottom: 160px;
    display: flex;
    justify-content: center;
}

.top_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    /* gap: 128px; */
}

.subtitle {
    color: var(--3-a-68-b-8, #3A68B8);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%; /* 71.5px */
    margin-bottom: 40px;
}

.text {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 28.8px */
    opacity: 0.699999988079071;
    margin-bottom: 50px;
}

.buttons {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    padding: 1rem 2rem;
    text-decoration: none;
    margin-right: 20px;
    border: 1px solid transparent;
}

.buttons:hover {
    border: 1px solid #3A68B8;
    color: #3A68B8;
    background-color: #FFF;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .top_content-left, .top_contetnt-right {
    width: 46%;
} */

.fa-play {
    font-size: 20px;
    color: #FFF;
    margin-right: 10px;
}

.buttons:hover .fa-play {
    color: #3A68B8;
}

.top_logos{
    margin-top: 197px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 71px;
}

.image_about {
    width: 594px;
    height: 548px;
    
}

.image_about:hover {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.about {
    display: flex;
    align-items: center;
    gap: 68px;
    padding-top: 157px;
}

/* .about_left .about_right {
    width: 46%;
} */

.head_about {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */
    padding-bottom: 30px;
}

.text_about {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
    opacity: 0.699999988079071;
    padding-bottom: 50px;
    width: 460px;

}

.button_about {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
}

.buttons_about:hover {
    border: 1px solid #3A68B8;
    color: #3A68B8;
    background-color: #FFF;
}


.item {
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    display: grid;
    gap: 30px;
    justify-content: center;
    justify-items: center;
    font-family: sans-serif;
}

.heading {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 31.25px */
    opacity: 0.699999988079071;
}

.item_text {
    color: var(--ffffff, #FFF);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: /*160%;*/ 25.6px;
    opacity: 0.699999988079071;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    grid-template-rows: repeat(3, 384px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.last_content {
    display: flex;
    justify-content: center;
    padding-bottom: 221px;
    gap: 20px;
}

.head_last {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 52px */ 
    padding-bottom: 40px;
}

.text_last {
    color: var(--ffffff, #FFF);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 25.6px */
}

.last_left .last_right {
    width: 46%;
}

.last_left {
    display: grid;
    align-content: space-around;
}

.footer {
    display: flex;
    width: 1146px;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 46px;
    border-radius: 10px;
    /* opacity: 0.05000000074505806;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, #FFF 100%);
    backdrop-filter: blur(100px); */
}

.footer_head {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 33px;
    }

.text_foot {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 24px;
    
}

.text-foot {
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    width: 261px;
    opacity: 0.6000000238418579;
}

.logos {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 376px);
        padding-right: calc(50% - 376px);
    }

    .subtitle {
        font-size: 16px;
    }

    .title {
        font-size: 48px;
    }

    .top_logos {
        gap: 32px;
        max-width: 650px;
        margin: auto;
    }

    .content {
        grid-template-columns: repeat(1, 362px);
        gap: 32px;
    }

    .item_big {
        grid-column:span 1;
        grid-row: span1;
        gap: 30px;
    }

    .item_big img {
        width: 98px;
    }
}


