a {
    text-decoration: none;
}

.title {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;

}

.head_text {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}

.headline {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.name_text {
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    color: rgb(7, 47, 47);
}
